<div class="dashbox">
    <span class="big">Student-Grading-Plugin</span>
    <hr />
    <br />
    <h2><b>Measured values (subset):</b></h2>
    <br />
    <table width="100%">
        <tr>
            <td width="350px">Measure</td>
            <td>Value</td>
        </tr>
        <tr> 
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td>Scanned source files</td>
            <td><%= format_measure('sof') %></td>
        </tr>
        <tr>
            <td>Number of specified classes</td>
            <td><%= format_measure('cla') %></td>
        </tr>
        <tr>
            <td>Number of specified interfaces and enumerations</td>
            <td><%= format_measure('int') %></td>
        </tr>
        <tr>
            <td>Number of declared non-private methods</td>
            <td><%= format_measure('pum') %></td>
        </tr>
        <tr>
            <td>Number of declared private methods</td>
            <td><%= format_measure('prm') %></td>
        </tr>
        <tr>
            <td>Number of declared class variables</td>
            <td><%= format_measure('var') %></td>
        </tr>
        <tr>
            <td>Number of method calls</td>
            <td><%= format_measure('mec') %></td>
        </tr>
        <tr>
            <td>Number of foreign method calls</td>
            <td><%= format_measure('fmc') %></td>
        </tr>
        <tr>
            <td>Number of imports</td>
            <td><%= format_measure('base_imp') %></td>
        </tr>
        <tr>
            <td>Number of statements</td>
            <td><%= format_measure('sta') %></td>
        </tr>
    </table>
    <br />
    <h2><b>Metric results:</b></h2>
    <br />
    <table width="100%">
        <tr>
            <td width="250px"><h2>Object Points:</h2></td>
            <td><h2><%= format_measure('obp') %></h2></td>
        </tr>
        <tr>
            <td width="250px"><h2>Average Complexity:</h2></td>
            <td><h2><%= format_measure('acm') %></h2></td>
        </tr>
        <tr>
            <td width="250px"><h2>Average Quality:</h2></td>
            <td><h2><%= format_measure('aqm') %></h2></td>
        </tr>
    </table>
    <br />
    <table width="100%">
        <tr>
            <td width="240px"><table>
                <tr>
                    <td width="180px">Complexity Metrics</td> 
                    <td width="40px"></td>
                </tr>
                <tr> 
                    <td colspan="2"><hr /></td>
                </tr>
                <tr>
                    <td>Data Complexity</td> 
                    <td><%= format_measure('dco') %></td>
                </tr>
                <tr>
                    <td>Data Flow Complexity</td> 
                    <td><%= format_measure('dfc') %></td>
                </tr>
                <tr>
                    <td>Interface Complexity</td> 
                    <td><%= format_measure('ico') %></td>
                </tr>
                <tr>
                    <td>Control Flow Complexity</td> 
                    <td><%= format_measure('cfc') %></td>
                </tr>
                <tr>
                    <td>Conditional Complexity</td> 
                    <td><%= format_measure('coc') %></td>
                </tr>
                <tr>
                    <td>Branching Complexity</td> 
                    <td><%= format_measure('brc') %></td>
                </tr>
                <tr>
                    <td>Language Complexity</td> 
                    <td><%= format_measure('lcm') %></td>
                </tr>
            </table></td>
            <td width="20px"> </td>
            <td width="240px"><table>
                <tr>
                    <td width="180px">Quality Metrics</td> 
                    <td width="40px"></td>
                </tr>
                <tr> 
                    <td colspan="2"><hr /></td>
                </tr>
                <tr>
                    <td>Modularity</td> 
                    <td><%= format_measure('mod') %></td>
                </tr>
                <tr>
                    <td>Testability</td> 
                    <td><%= format_measure('tst') %></td>
                </tr>
                <tr>
                    <td>Reusability</td> 
                    <td><%= format_measure('reu') %></td>
                </tr>
                <tr>
                    <td>Security</td> 
                    <td><%= format_measure('sec') %></td>
                </tr>
                <tr>
                    <td>Flexibility</td> 
                    <td><%= format_measure('fle') %></td>
                </tr>
                <tr>
                    <td>Conformity</td> 
                    <td><%= format_measure('cof') %></td>
                </tr>
                <tr>
                    <td>Maintainability</td> 
                    <td><%= format_measure('mam') %></td>
                </tr>
            </table></td>
        </tr>
    </table>
</div>
