<div class="dashbox">
    <span class="big">Object Points: <%= format_measure('size_obp') %></span>
    <h2>Data Complexity: <%= format_measure('complexity_dco') %></h2>
    <h2>Data Flow Complexity: <%= format_measure('complexity_dfc') %></h2>
    <h2>Interface Complexity: <%= format_measure('complexity_ico') %></h2>
    <h2>Control Flow Complexity: <%= format_measure('complexity_cfc') %></h2>
    <h2>Conditional Complexity: <%= format_measure('complexity_coc') %></h2>
    <h2>Branching Complexity: <%= format_measure('complexity_brc') %></h2>
    <h2>Language Complexity: <%= format_measure('complexity_lcm') %></h2>
    <span class="big">Average Complexity: <%= format_measure('complexity_acm') %></span>
    <h2>Modularity: <%= format_measure('quality_mod') %></h2>
    <h2>Testability: <%= format_measure('quality_tst') %></h2>
    <h2>Reusability: <%= format_measure('quality_reu') %></h2>
    <h2>Security: <%= format_measure('quality_sec') %></h2>
    <h2>Flexibility: <%= format_measure('quality_fle') %></h2>
    <h2>Conformity: <%= format_measure('quality_cof') %></h2>
    <h2>Maintainability: <%= format_measure('quality_mam') %></h2>
    <span class="big">Average Quality: <%= format_measure('quality_aqm') %></span>
</div>
