<%
    def check_image(metric_or_measure)
        html = ''

        if metric_or_measure.is_a? ProjectMeasure
            m = metric_or_measure
        elsif @snapshot
            m = @snapshot.measure(metric_or_measure)
        end

        if m.nil?
            return ''
        end

        if m && m.metric
            if m.value == 1
                html = image_tag(url_for_static(:plugin => 'idemetadata', :path => 'check-round-yes-small.png'), :size => '16x16', :style => 'vertical-align:middle')
            elsif
                html = image_tag(url_for_static(:plugin => 'idemetadata', :path => 'check-round-no-small.png'), :size => '16x16', :style => 'vertical-align:middle')
            end
        end

        html
    end

    def remove_brackets(metric_or_measure)
        out = ''

        if metric_or_measure.is_a? ProjectMeasure
            m = metric_or_measure
        elsif @snapshot
            m = @snapshot.measure(metric_or_measure)
        end

        if m.nil?
            return ''
        end

        if m && m.metric
            out = m.data[1..-2]
        end

        out
    end
%>
<div class="dashbox">
    <h2>Number of cases: <%= format_measure('base_cas') %></h2>
    <h2>Number of classes: <%= format_measure('base_cla') %></h2>
    <h2>Number of if-statements: <%= format_measure('base_ifs') %></h2>
    <h2>Number of imports: <%= format_measure('base_imp') %></h2>
    <h2>Number of interfaces: <%= format_measure('base_int') %></h2>
    <h2>Number of literals: <%= format_measure('base_lit') %></h2>
    <h2>Number of loop-statements: <%= format_measure('base_lop') %></h2>
    <h2>Number of methods: <%= format_measure('base_met') %></h2>
    <h2>Number of parameters: <%= format_measure('base_par') %></h2>
    <h2>Number of returns: <%= format_measure('base_ret') %></h2>
    <h2>Number of statements: <%= format_measure('base_stm') %></h2>
    <h2>Number of switch-statements: <%= format_measure('base_swi') %></h2>
    <h2>Number of source files: <%= format_measure('base_src') %></h2>
    <h2>Optimal module size: <%= format_measure('base_oms') %></h2>
    <h3>Conditional Complexity (based on McClure):</h3>
    <p>
        <span class="big">
            <%= format_measure('complexity_coc') %>
        </span>
    </p>
</div>
